/* new */
.halaman {
    border: 0.5px solid silver;
    border-radius: 25px;
    padding-top: 3em;
    padding-bottom: 3em;
}

.star-ratings {
    unicode-bidi: bidi-override;
    color: lightgray;
    font-size: 80px;
    position: relative;
    margin: auto;
    padding: 0;
}

.star-ratings>.fill-ratings {
    color: gold;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
}

.star-ratings>span {
    display: inline-block;
}

.star-ratings>.empty-ratings {
    padding: 0;
    display: block;
    z-index: 0;
}