/* new */
.total_rating {
    font-size: 45px;
    width: 130px;
    height: 130px;
    margin: auto;
    padding: 10px;
    border: 0.5px solid rgb(248, 54, 86);
    border-radius: 50%;
    color: rgb(248, 54, 86);
    margin-bottom: -0.2em;
    display: flex;
}

.total_rating>span {
    margin: auto;
}

.halaman {
    border: 0.5px solid silver;
    border-radius: 25px;
    padding-top: 3em;
    padding-bottom: 3em;
}

.star-ratings {
    unicode-bidi: bidi-override;
    color: lightgray;
    font-size: 70px;
    position: relative;
    margin: auto;
    padding: 0;
}

.star-ratings>.fill-ratings {
    color: gold;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
}

.star-ratings>span {
    display: inline-block;
}

.star-ratings>.empty-ratings {
    padding: 0;
    display: block;
    z-index: 0;
}